{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'book/img/favicon.png' %}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
	<script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
	<title>我的书单</title>

	<!--https://fontawesome.com/v6.0/icons-->
	<script src="https://kit.fontawesome.com/50c2c253e1.js" crossorigin="anonymous"></script>
	<!--https://fonts.google.com/icons?selected=Material+Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'book/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'book/css/list.css' %}">
	<link rel="stylesheet" href="{% static 'book/css/search.css' %}">
</head>

<body>
	<div class="portainer">
		<header>
			<div class="title">我的书单<input type="button" value="🔍" id="searchButton"></input></div>
		</header>

		{% for category in categories %}
		<p class="category-name">分类：<span>{{ category.name }}</span></p>
		<ul class="category">
			{% for book in category.books %}
			<li class="item">
				{{ book.name }} | <a href="{{ book.url }}" target="_blank" style="text-decoration: none;">下载</a><br>
				{% if book.translator%}
				作者：{{ book.author }} &nbsp; 译者：{{ book.translator }} <br>
				{% else %}
				作者：{{book.author}} <br>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% if not forloop.last %}
		<hr>
		{% endif %}
		{% endfor %}
	</div>

	<div id="fade"></div>

	<div id="float">
		<form class="search-form">
			<input type="text" class="search" placeholder="书名/作者">
			<ul class="suggestions">
				<li>这里会显示推荐的书目</li>
			</ul>
		</form>
	</div>


</body>
<script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js'></script>

<script data-href="https://github.com/HenryJi529/OpenMorningstar" src="{% static 'base/js/github.js'%}"></script>

<script src="https://cdn.jsdelivr.net/npm/canvas-nest.js/dist/canvas-nest.js"></script>

<script type="text/javascript" src="https://www.cornify.com/js/cornify.js"></script>
<script src="{% static 'book/js/cornify.js' %}"></script>

<script>
	const endpoint = "{{ endpoint }}";
	const searchButton = document.querySelector("#searchButton");
	searchButton.addEventListener('click', e => {
		$("#float").css("display", "block");
		$("#fade").css("display", "block");
	})
	$("#fade").click(function () {
		document.getElementById("float").style.display = 'none';
		document.getElementById("fade").style.display = 'none';
	});

</script>
<script src="{%static 'book/js/search.js' %}"></script>

</html>