{% extends 'base/base.html' %}
{% load static %}
{% block title %}
登录
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'base/css/login_register.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="logo">
        <img src="{% static 'base/img/logo.png' %}" alt="logo">
    </div>
    <form action="/" method="post" autocomplete="on">
        {% csrf_token %}
        <div id="login-form">
            {% for field in login_form %}
            <div class="mb-2">
                <label for="{{ field.id_for_label }}">{{ field.label }}：</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="cmd mb-3">
                <input type="reset" value="重置" class="btn btn-warning">
                <div></div>
                <div></div>
                <input name="next" value="{{request.GET.next}}" hidden></input>
                <div></div>
                <div></div>
                <input type="submit" value="登录" class="btn btn-primary">
            </div>
            <p class="mb-2 text-center"><input type="button" value="点此注册" id="register-buttom" class="btn"></p>
        </div>
        <div id="register-form" class="d-none">
            {% for field in register_form %}
            <div class="mb-2">
                <label for="{{ field.id_for_label }}">{{ field.label }}：</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="cmd mb-3">
                <input type="reset" value="重置" class="btn btn-warning">
                <div></div>
                <div></div>
                <input name="next" value="{{request.GET.next}}" hidden></input>
                <div></div>
                <div></div>
                <input type="submit" value="注册" class="btn btn-primary">
            </div>
            <p class="mb-2 text-center"><input type="button" value="点此登录" id="login-buttom" class="btn"></p>
        </div>
    </form>
</div>


<script>
    register_form = document.querySelector("#register-form")
    login_form = document.querySelector("#login-form")
    register_buttom = document.querySelector("#register-buttom")
    login_buttom = document.querySelector("#login-buttom")
    register_buttom.addEventListener("click", () => {
        login_form.classList.add("d-none")
        register_form.classList.remove("d-none")
    })
    login_buttom.addEventListener("click", () => {
        login_form.classList.remove("d-none")
        register_form.classList.add("d-none")
    })
</script>

{% endblock %}


{% block custom_js %}
{% endblock %}