.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 1.5rem 1rem;
  position: relative;
  top: 8%;
  border-radius: 20px;
  background: rgb(219, 232, 245);
  box-shadow: 10px 10px 20px #a8e2f0, -10px -10px 20px #ffffff;
  .logo {
    text-align: center;
    margin: 0 auto;
    width: 40%;
    img {
      width: 100%;
    }
  }
  form {
    label {
      font-weight: bold;
    }
    input {
      font-size: 1.3rem;
    }
    input[type="reset"],
    input[type="submit"] {
      border-radius: 10px;
      padding: 0.3rem 1rem;
      box-shadow: 0.3rem 0.3rem 0.3rem 0 gray;
    }
    div.g-recaptcha {
      text-align: center;
    }
    div.g-recaptcha > div {
      display: inline-block;
    }
    .cmd {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
